.error {
    position :absolute;
    width: 100%;
    height: 100%;
    display :flex;
    justify-content: center;
    align-items: center ;
    z-index: 10;
}
.errorContainer {
    width: 40%;
    height: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 25px 5px #a5d1fa;
    z-index: 10;
}
.errorContainer p {
    color: #232849 ;
    font-size: 3rem;
}
.actions button {
    color: #232849 ;
    font-size: 2rem;
    margin: .4rem;
    padding: .5rem;
    cursor: pointer;
    width: 8rem;
    box-shadow: 0 5px 5px 5px rgb(199, 198, 198);
    border-radius: 2rem ;
    border: 2px solid white;
    background-color:white;
}